.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.rx-quiz-container {
  margin-top: 10px;
  max-height: 500px;
  min-height: 500px;
  background-color: #343a48;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.rx-quiz-box {
  overflow: auto;
  max-height: 500px;
  min-height: 500px;
  width: inherit;
  display: flex;
  justify-content: center;
}

.questionWrapper {
  width: inherit;
  display: flex;
  justify-content: center;
}

.rx-container-app {
  padding-top: 30px;
  width: 60%;
}

footer {
  height: 10vh;
  background-color: #282c34;
  display: flex;
  color: white;
}

footer span {
 margin-left: 20px;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.rx-footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 353px;
}

.App-header {
  background-color: #282c34;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
